body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow: visible;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  width: 232px;
  height: 80vh;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.w3-include {
  position: sticky;
  top: 0;
}

.header-for-modal {
  display: flex;
  padding: 91px 46px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 500px;
  height: 180px;
  border-radius: 30px 30px 30px 30px;
  background: var(--Ligth-blue, #005dff);
}

.add-contact-modal {
  color: var(--white, #fff);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.add-task-modal2 {
  color: var(--white, #fff);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 32.4px */
}

.here-to-close {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 53px;
}

.modal-for-down-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-for-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-top: 10px;
}

.logo-modal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 70px;
  border: 3px solid var(--white, #fff);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  gap: 12px;
  font-family: "Open Sans", sans-serif;
}

.modal-for-contacts {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 30px 30px 30px 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  transition: width 0.1s ease 0s;
  justify-content: flex-end;
}

.modal-contacts-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textandcolor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.single-nav-links {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 8px;
  color: #42526e;
  transition: all 100ms ease-in-out;
}

.contact-name {
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.single-nav-links:hover {
  background-color: #d2e3ff;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-links a {
  text-decoration: none;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-size: 16px;
  color: #42526e;
  cursor: pointer;
}

.name-input {
  border: none;
}

h1 {
  color: var(--black, #000);

  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.mainHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divh2 {
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
}

h2 {
  width: 346px;
  color: var(black);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

.navbarLeft {
  display: flex;
  width: 232px;
  height: 76vh;
  padding: 66px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 235px;
  flex-shrink: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  align-self: stretch;
  color: var(--black, #000);
  flex-wrap: wrap;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  padding: 20px;
}

.privacy-policy:hover,
.legal-notice:hover {
  color: #0038ff;
}

.legal-notice:hover,
.legal-notice:hover {
  color: #0038ff;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.user-initials-wrapper {
  border-radius: 50% 50%;
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-right span {
  color: white;
  font-family: "Open Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

#userList {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 24px;
  overscroll-behavior: contain;
  padding-bottom: 100px;
}

.user-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
  background-color: white;
  height: 40px;
  width: 40px;
  color: #4589ff;
  font-weight: 500;
  border: 2px solid #4589ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  background-color: #4589ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

#contactsContainer {
  width: 400px;
  padding: 24px;
  margin: 12px;
}

#xButton {
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 20px;
  margin: 2px;
  position: relative;
  left: 212px;
  top: 12px;
}

#xButton:hover {
  box-shadow: 3px 12px 18px -12px rgba(0, 0, 0, 0.75);
  transform: scale(1.15);
  cursor: pointer;

  color: #ffffff;
}

#showUsers {
  display: none;
  flex-direction: column;
  width: 461px;
  height: 318px;
  top: 168px;
  left: 750px;
  gap: 21px;
  position: fixed;
}

.email-details {
  top: 21px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: black;
  display: flex;
  justify-content: flex-start;
}

.gapper-between {
  gap: 21px;
  display: flex;
  flex-direction: column;
}

.email-details-user {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  font-family: "Open-Sans", sans-serif;
}

.go-back-button {
  display: none;
  height: 20px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #4589ff;
  background: var(--white, #fff);
}

.go-back-button:hover {
  box-shadow: 3px 12px 18px -12px rgba(0, 0, 0, 0.75);
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.3s;
  color: #000000;
}

.circle {
  background-color: rgb(255, 94, 179);
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.wrapper-for-details {
  display: flex;
  flex-direction: column;
  width: 461px;
  height: 318px;
  top: 168px;
  left: 750px;
  gap: 21px;
}

.showcircle-detail {
  display: flex;
  background-color: rgb(255, 94, 179);
  width: 120px;
  height: 120px;
  border-radius: 70px;
  gap: 10px;
  justify-content: center;
  font-size: 47px;
  align-items: center;
  color: #ffffff;
  line-height: 56.4px;
  font-weight: 500;
}

.phone-details-user {
  top: 21px;
  display: fleX;
  justify-content: flex-start;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  font-family: "Open-Sans", sans-serif;
}

.information-details {
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
  font-family: "Open Sans", sans-serif;
}
.headline-contacts {
  width: 461px;
  height: 120px;
  gap: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcircle {
  display: flex;
  background-color: rgb(255, 94, 179);
  height: 42px;
  width: 42px;
  border-radius: 45px;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  line-height: 14.4px;
  font-weight: 400;
}

a {
  font-size: 16px;
}

.name {
  font-size: 22px;
  color: #000;
}

.container {
  display: flex;
}

.wrapper-for-contacts {
  width: 352px;
  display: flex;
  height: 79px;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 15px;
  padding-left: 24px;
  gap: 35px;
  align-items: center;
}

.showcase-for-contacts {
  display: fleX;
  justify-content: center;
  align-items: center;
}

.inside-img {
  display: flex;
  position: absolute;
  width: 70px;
  height: 70px
}

.wrapper-for-contacts:hover {
  background-color: #d2e3ff;
  cursor: pointer;
}

.wrapper-for-name-email {
  display: flex;
  flex-direction: column;
}

.textContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 15px 24px;
  margin: 6px;
}

.textContent:hover {
  background-color: #4589ff;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.textContent:hover * {
  background-color: #4589ff;
  cursor: pointer;
  color: white;
}

.addButton {
  color: white;
  border-radius: 10px;
  display: flex;
  width: 357px;
  height: 56px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--version-2-main-color, #4589ff);
  background: var(--version-2-main-color, #4589ff);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.addButton:hover {
  box-shadow: 3px 12px 18px -12px rgba(0, 0, 0, 0.75);
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;
}

div#addContacts {
  position: fixed;
  left: 25%;
  top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-label {
  display: flex;
  width: 422px;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  color: var(--Style, #d1d1d1);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--Style, #d1d1d1);
  background: #fff;
}

#name {
  display: flex;
  width: 380px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: var(--Style, #d1d1d1);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: none;
  background: transparent;
}

#name:focus {
  color: var(--black, #000);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  outline: none;
}

#phone:focus {
  color: var(--black, #000);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  outline: none;
}

#email:focus {
  color: var(--black, #000);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  outline: none;
}

.person-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.person-img-mail {
  width: 18px;
  height: 18px;
  padding-left: 3px;
  flex-shrink: 0;
}

#email {
  display: flex;
  width: 380px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: var(--Style, #d1d1d1);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: none;
  background: transparent;
}

#phone {
  display: flex;
  width: 380px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: var(--Style, #d1d1d1);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: none;
  background: transparent;
}

.imgContainer {
  width: 120px;
  height: 120px;
}

.addLogo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 209, 209);
  border-radius: 50%;
  padding: 12px;
  margin: 8px;
}

.closeButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding-left: 400px;
  margin-top: 12px;
  color: #fff;
}

::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

#editName {
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(0, 0, 0, 0.2);
  background-image: url(../img/person.svg);
  background-position: 220px 12px;
  background-size: 18px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 230px;
}

#editPhone {
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(0, 0, 0, 0.2);
  background-image: url(../img/call.svg);
  background-position: 220px 12px;
  background-size: 18px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 230px;
}

#editEmail {
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(0, 0, 0, 0.2);
  background-image: url(../img/mail.svg);
  background-position: 220px 12px;
  background-size: 18px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 230px;
}

label.labelColor {
  color: rgb(209, 209, 212);
}

.bContainer {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  gap: 20px;
}

.joinImg {
  width: 55px;
}

p {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.headerFromAddContact {
  display: flex;
  width: 584px;
  padding: 91px 46px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: var(--Ligth-blue, #005dff);
}

.contactbuttonsone {
  display: flex;
  height: 20px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #4589ff;
  background: var(--white, #fff);
}

.contactbuttonsone:hover {
  box-shadow: 3px 12px 18px -12px rgba(0, 0, 0, 0.75);
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.3s;
  color: #000000;
}

.contactbuttonsonetwo {
  color: white;
  display: flex;
  height: 20px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: var(--version-2-main-color, #4589ff);
}

.contactbuttonsonetwo:hover {
  box-shadow: 3px 12px 18px -12px rgba(0, 0, 0, 0.75);
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-message {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.modal-content {
  border-radius: 12px;
  background-color: #4589ff;
  margin: 20% auto;
  padding: 20px;
  width: 60%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #a9a7a7;
  text-decoration: none;
  cursor: pointer;
}

.h1andtext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textContainer {
  display: flex;
  gap: 32px;
}

.deleteText {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  gap: 10px;
}

.deleteText:hover {
  color: #5f6ecf;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: white;
  color: rgb(42, 54, 71);
  border-radius: 6px;
  padding: 6px;
  font-size: 16px;
  border: 1px solid transparent;
  margin: 2px;
  font-family: "Open Sans", sans-serif;
}

button:hover {
  box-shadow: 3px 12px 18px -12px rgba(0, 0, 0, 0.75);
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.3s;
  color: #000000;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4589ff;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  z-index: 1000;
  text-align: center;
  color: #000;
  border-radius: 6px;
}

.moreVertContainer {
  display: flex;
}

.moreVert {
  background-color: #4589ff;
  border-radius: 10px;
  padding: 6px;
  display: none;
}

@media (max-width: 3300px) {
  .moreVertContainer {
    display: none;
  }

  .moreVert {
    display: none;
  }
}

@media (max-width: 1230px) {
  .headerFromAddContact {
    position: relative;
    right: 100px;
  }

  .formInput {
    position: relative;
    right: 100px;
  }

  #xButton {
    left: 120px;
  }
}

@media (max-width: 1150px) {
  #showUsers {
    left: 680px;
    width: 100%;
  }

  .headerFromAddContact {
    right: 0px;
  }

  .formInput {
    right: 0px;
  }
}

@media (max-width: 1130px) {
  .headerFromAddContact {
    width: 300px;
  }

  .formInput {
    width: 300px;
  }

  .imgContainer {
    width: 300px;
  }

  #name {
    width: 300px;
    background-position: 300px 15px;
  }

  #email {
    width: 300px;
    background-position: 300px 15px;
  }

  #phone {
    width: 300px;
    background-position: 300px 15px;
  }
}

@media (max-width: 1370px) {
  #showUsers {
    width: 400px !important;
  }

  .header-for-modal {
    width: 310px;
  }

  .modal-for-down-contacts {
    width: 300px;
  }

  .name-label {
    width: 300px;
  }

  #name {
    width: 270px;
  }

  #phone {
    width: 270px;
  }

  #email {
    width: 270px;
  }
}
@media (max-width: 1080px) {
  .nav-Container {
    height: 70px;
  }

  .headline-contacts {
    width: 10px;
  }

  .go-back-button {
    display: flex;
    height: 20px;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #4589ff;
    background: var(--white, #fff);
  }

  div#addContacts {
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: middle;
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  .nav-bottom {
    display: none;
  }

  #showUsers {
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(100px);
    width: 100% !important;
    height: 100vh;
    background-color: transparent;
    bottom: 40px;
    top: 0px;
    left: 0px;
  }

  #name {
    padding: 12px;
  }

  #phone {
    padding: 12px;
  }

  #email {
    padding: 12px;
  }

  .formInput {
    padding: 0px;
  }

  .header-for-modal {
    height: 140px;
  }

  .logo-modal {
    height: 90px;
    width: 90px;
  }

  .here-to-close {
    top: 150px;
    right: 360px;
  }
}

@media (max-width: 1450px) {
  .moreVertContainer {
    display: unset !important;
  }

  .moreVert {
    display: unset !important;
    position: relative;
    left: 25%;
  }

  div#addContacts {
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30%;
  }
}

@media (max-width: 800px) {
  div#addContacts {
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20%;
  }

  #showUsers {
    top: 0;
  }

  .navbarLeft {
    width: 0;
  }

  .here-to-close {
    right: 230px;
  }
}

@media (max-width: 650px) {
  div#addContacts {
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
  }

  .here-to-close {
    right: 150px;
  }
}

@media (max-width: 550px) {
  .openContainer {
    width: 450px;
  }

  #name,
  #email,
  #phone {
    width: 300px;
  }

  .bContainer {
    padding: 0px;
  }

  #xButton {
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .openContainer {
    width: 350px;
  }

  .wrapper-for-details {
    width: 300px;
  }

  .headline-contacts {
    gap: 20px;
  }

  #name,
  #email,
  #phone {
    width: 250px;
  }

  .bContainer {
    padding: 0px;
  }

  #xButton {
    margin-right: 70px;
  }

  .here-to-close {
    right: 70px;
  }
}

@media (max-width: 450px) {
  .openContainer {
    width: 299px;
  }

  .formInput {
    width: 299px;
  }

  #name,
  #email,
  #phone {
    width: 200px;
  }

  .bContainer {
    padding: 0px;
  }

  #xButton {
    margin-right: 20px;
  }

  #showUsers {
    left: 0%;
    padding-bottom: 100px;
  }
}

@media (max-width: 452px) and (min-width: 150px) {
  #contactsContainer {
    width: 300px;
    padding: 0px;
    margin: 12px;
  }
}

@media (max-width: 451px) {
  #contactsContainer {
    width: none;
    padding: 0px;
    margin: 12px;
  }
}

@media (max-width: 450px) {
  #contactsContainer {
    width: none;
    padding: 0px;
    margin: 12px;
  }

  .showcircle-detail {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  .go-back-button {
    font-size: 20px;
  }

  .moreVert {
    left: 100px;
  }

  .popup-container {
    width: 180px;
  }

  .name {
    font-size: 12px;
  }

  .addButton {
    width: 300px;
  }

  #userList {
    width: 240px;
    padding-bottom: 100px;
  }

  .textContent {
    gap: 12px;
    padding: 12px;
    margin: 12px;
    left: -39px;
  }

  div#addContacts {
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 21px;
  }

  ::placeholder {
    font-size: 15px;
    color: black;
  }

  #xButton {
    font-size: 15px;
  }

  .addButton {
    font-size: 14px;
    width: 200px;
  }

  #showUsers {
    padding-bottom: 100px;
  }

  .h1andtext {
    display: flex;
    align-items: baseline;
  }
}

@media (max-width: 400px) {
  .popup-container {
    width: 120px;
  }

  .moreVert {
    left: 80px;
  }

  .name {
    font-size: 12px;
  }

  .headerFromAddContact {
    width: 280px;
  }

  #xButton {
    margin-right: 50px;
  }

  .contactbuttonsone {
    width: 80px;
    padding: 25px;
  }

  .contactbuttonsonetwo {
    width: 90px;
    padding: 25px;
  }

  .here-to-close {
    right: 20px;
  }
}

@media (max-width: 390px) and (min-width: 250px) {
  .w3-include {
    width: 100%;
  }

  #contactsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 12px;
    padding: 0px;
    margin: 12px;
    padding-bottom: 100px;
  }
}

@media (max-width: 380px) {
  .w3-include {
    width: 100%;
  }

  .headline-contacts {
    gap: 20px;
  }

  .popup-container {
    width: 120px;
  }

  #xButton {
    font-size: 15px;
  }

  .headerFromAddContact {
    width: 320px;
  }

  .moreVert {
    left: 60px;
  }

  #showUsers {
    padding-bottom: 100px;
  }

  .h1andtext {
    display: flex;
    align-items: baseline;
  }

  .textandcolor {
    display: flex;
    align-items: none;
    justify-content: none;
    gap: 10px;
  }

  h1 {
    font-size: 15px;
  }

  h2,
  h3 {
    font-size: 14px;
  }

  b {
    font-size: 14px;
  }

  a {
    font-size: 12px;
  }

  .deleteText {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .w3-include {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .w3-include {
    width: 100%;
  }

  .header {
    justify-content: space-around;
  }
}

@media (max-width: 340px) {
  .w3-include {
    width: 100%;
  }

  .textContent {
    pad: 8px;
  }
}

@media (max-width: 370px) {
  #userList {
    padding: 0;
    padding-bottom: 100px;
  }

  .go-back-button {
    display: flex;
    width: 300px;
    height: 20px;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #4589ff;
    background: var(--white, #fff);
  }

  button {
    width: 60px;
    font-size: 10px;
  }

  p {
    font-size: 12px;
  }

  .popup-container {
    width: 120px;
  }
}

@media (max-width: 340px) {
  .textContent {
    padding: 0;
  }

  #userList {
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .navbarLeft {
    display: none;
  }

  div#addContacts {
    left: 3%;
  }

  .popup-container {
    width: 120px;
  }

  .headerFromAddContact {
    width: 300px;
  }

  button {
    width: 50px;
    font-size: 8px;
  }

  p {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .headerFromAddContact {
    width: 280px;
  }
}
